########################################
# OS Files
########################################
**/.DS_Store
Thumbs.db

########################################
# Visual Studio / .NET / Rider
########################################
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.iml
*.userprefs

########################################
# Build outputs
########################################
bin/
obj/
artifacts/
TestResults/
*.dll
*.exe
*.app
*.pdb
*.cache
*.mdb
*.log
*.tmp

########################################
# Publish outputs
########################################
publish/
out/
coverage/
*.coverage
*.coveragexml

docker-compose.vs.debug.yml
docker-compose.vs.release.yml

#!docker-compose.override.yml
*.nupkg
*.snupkg
.nuget/
packages/

########################################
# Environment and Config
########################################
secrets.json
appsettings.Local.json
.env
.env.*
!Services/**/.env.development
!Services/**/.env.staging
!Services/**/.env.production

########################################
# Node / Frontend
########################################
node_modules/
dist/
.history/
*.env
.env

########################################
# Selenium / Testing
########################################
screenshots/
selenium.log
logs/
__pycache__/
*.pyc
*.pyo
*.pytest_cache/
.allure/
output/
drivers/
chromedriver.exe
geckodriver.exe
msedgedriver.exe
